/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

@import "compass/reset";*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

input {
  box-sizing: content-box;
}

/** Global Fonts **/
.ya-two-column-row {
  width: 100%;
  *zoom: 1;
}
.ya-two-column-row:before, .ya-two-column-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.ya-two-column-row:after {
  clear: both;
}
.ya-two-column-row .ya-column-1 {
  float: left;
  margin-left: 2.12766%;
  width: 48.93618%;
}
.ya-two-column-row .ya-column-1:first-child {
  margin-left: 0;
}
.ya-two-column-row .ya-column-2 {
  float: left;
  margin-left: 2.12766%;
  width: 48.93618%;
}
.ya-two-column-row .ya-column-2:first-child {
  margin-left: 0;
}

span[data-icon] {
  font-size: 20px;
}
@media (max-width: 767px) {
  span[data-icon] {
    font-size: 18px;
  }
}

.ya-button-row {
  text-align: center;
}
.ya-button-row .btn {
  width: 150px;
}
@media (max-width: 767px) {
  .ya-button-row {
    text-align: center;
  }
  .ya-button-row .btn {
    width: 150px;
  }
}

.ya-orange-btn span[data-icon] {
  font-size: 1em;
}

h1 {
  font: 36px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  font: 28px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  h2 {
    font-size: 21px;
  }
}

h3 {
  font: 20px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font: 18px "ProximaNova-Regular";
}
@media (max-width: 460px) {
  h4 {
    font-size: 16px;
  }
}

.ya-main-content {
  /*@media (max-width:480px){
  	padding:20px 15px;
  }
  @media (min-width: 768px) and (max-width: 979px){
  	padding:20px 15px;
  }*/
}

.ui-datepicker {
  font-size: 12px;
}

.ui-datepicker-trigger {
  display: inline-block;
  margin: 0px 0 0 5px;
  cursor: pointer;
}

.ya-link, .ya-link:hover {
  color: #1e398d;
  cursor: pointer;
}

body {
  padding: 0;
}

.ya-school-public-profile {
  /*border-left:30px solid #f4f0eb;
  border-right:30px solid #f4f0eb; */
  padding: 10px;
}
.ya-school-public-profile .ya-info-alert {
  background-color: #ffffff;
  border: 1px solid #6A6EAB;
  color: #3E488A;
  margin-top: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.ya-school-public-profile .ya-info-alert .icon {
  font-size: 16px;
  color: #3E488A;
  margin: 0 10px 0 0;
  float: left;
}
.ya-school-public-profile .ya-stars .icon {
  color: #FECC0A;
}
.ya-school-public-profile .ya-content {
  background: #aeb0d2;
  /* Old browsers */
  background: linear-gradient(bottom, #ffffff 71%, #6367a6 93%, #253d8b 99%);
  background: -o-linear-gradient(bottom, white 71%, #6367a6 93%, #253d8b 99%);
  background: -moz-linear-gradient(bottom, white 71%, #6367a6 93%, #253d8b 99%);
  background: -webkit-linear-gradient(bottom, white 71%, #6367a6 93%, #253d8b 99%);
  background: -ms-linear-gradient(bottom, white 71%, #6367a6 93%, #253d8b 99%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.71, white), color-stop(0.93, #6367a6), color-stop(0.99, #253d8b));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6367A6', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  /*background:url('../images/bg-blue-gradient.png') repeat-x;*/
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}
.ya-school-public-profile .ya-left-column {
  min-width: 250px;
  min-height: 429px;
}
.ya-school-public-profile .ya-left-column .ya-logo-watermark {
  background: url("../images/bg-logo.png") no-repeat;
  position: absolute;
  width: 466px;
  height: 429px;
  margin: 0 0 0 -30px;
  z-index: 50;
}
.ya-school-public-profile .ya-left-column .ya-logo-watermark .ya-school-logo {
  margin: 0;
  border: 18px solid #96171A;
  margin: 59px 0 0 59px;
  width: 230px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  /*@media(max-width:767px){  width: 200px;  margin: 72px 0 0 75px;}*/
}
@media (max-width: 510px) {
  .ya-school-public-profile .ya-left-column .ya-logo-watermark {
    background: url("../images/ya-purple-flower.png") no-repeat scroll 0 0/100% auto transparent;
    position: relative;
    padding: 40px;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 270px;
    top: 0;
    width: auto;
  }
  .ya-school-public-profile .ya-left-column .ya-logo-watermark .ya-school-logo {
    margin: 0;
    width: auto;
  }
}
.ya-school-public-profile .ya-left-column .ya-white-panel {
  position: relative;
  background: white;
  -webkit-border-radius: 0px 20px 20px 0;
  -moz-border-radius: 0px 20px 20px 0;
  -ms-border-radius: 0px 20px 20px 0;
  -o-border-radius: 0px 20px 20px 0;
  border-radius: 0px 20px 20px 0;
  margin: 375px 0 0;
  -webkit-box-shadow: 3px 1px 3px rgba(199, 199, 224, 0.8);
  -moz-box-shadow: 3px 1px 3px rgba(199, 199, 224, 0.8);
  box-shadow: 3px 1px 3px rgba(199, 199, 224, 0.8);
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-box {
  padding: 18px 15px;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-box .ya-title {
  color: #3b237b;
  font-family: ProximaNova-Semibold;
  font-size: 20px;
  font-weight: normal;
  padding: 0 0 5px;
  line-height: normal;
  border-bottom: 1px solid #b4b3af;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-box .ya-description {
  color: #5f6a72;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-box .ya-description p {
  margin: 0;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-yoga-taught ul, .ya-school-public-profile .ya-left-column .ya-white-panel .ya-languages ul {
  color: #5f6a72;
  margin: 0;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-yoga-taught ul li, .ya-school-public-profile .ya-left-column .ya-white-panel .ya-languages ul li {
  list-style-type: none;
  font-family: ProximaNova-SemiBold;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-trainings-formats p {
  margin: 10px 0 !important;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-trainings-formats em {
  font-family: ProximaNova-RegularIt;
  font-weight: normal;
  display: block;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-school-rating .ya-rating-numer {
  color: #1e398d;
  font-family: ProximaNova-Bold;
  font-size: 22px;
  margin: 0 0 10px;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-school-rating .ya-rating-numer .ya-stars {
  display: inline-block;
  margin: -2px 0 0 8px;
  float: left;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-school-rating .ya-rating-link {
  font-size: 10px;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-contact-with-us .ya-social-icons .fs1 {
  font-size: 1.7em;
  color: #909090;
  display: inline;
}
.ya-school-public-profile .ya-left-column .ya-white-panel .ya-other-locations .ya-address {
  margin: 0 0 10px 0 !important;
}
.ya-school-public-profile .ya-middle-column {
  position: relative;
  z-index: 100;
  padding: 40px 0 0;
  font-family: ProximaNova-Regular;
  font-weight: normal;
}
.ya-school-public-profile .ya-middle-column .ya-column-center {
  padding: 0 0;
  /*********upcoming program classes ***/
  /********************/
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-column-center-box {
  padding: 0 15px;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-about-container {
  margin: 0 0 60px 0;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-about-container .ya-about-active {
  background: #344593;
  /* Old browsers */
  background-image: linear-gradient(bottom, #8585ba 17%, #5862a5 59%, #344593 80%);
  background-image: -o-linear-gradient(bottom, #8585ba 17%, #5862a5 59%, #344593 80%);
  background-image: -moz-linear-gradient(bottom, #8585ba 17%, #5862a5 59%, #344593 80%);
  background-image: -webkit-linear-gradient(bottom, #8585ba 17%, #5862a5 59%, #344593 80%);
  background-image: -ms-linear-gradient(bottom, #8585ba 17%, #5862a5 59%, #344593 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, #8585ba), color-stop(0.59, #5862a5), color-stop(0.8, #344593));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#344593', Colorstr='#8585ba',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #253b8e;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  margin: 0 0 15px;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-about-container-active {
  margin: 0 0 50px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ya-programs-left-column {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ya-programs-left-column:first-child {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ya-programs-right-column {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ya-programs-right-column:first-child {
    margin-left: 0;
  }
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ya-datepicker {
  float: left;
}
@media (max-width: 767px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ya-datepicker {
    float: left;
    margin-left: 0%;
    width: 74.4681%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ya-datepicker:first-child {
    margin-left: 0;
  }
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ui-datepicker-trigger {
  margin: 4px 0 0 5px;
}
@media (max-width: 767px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-upcoming-programs-wrapper .ya-programs-row .ui-datepicker-trigger {
    margin: 4px 0 0 5px;
  }
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row {
  width: 100%;
  *zoom: 1;
  padding-bottom: 10px;
  margin: 15px 0;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row:before, .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row:after {
  clear: both;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-1 {
  float: left;
  margin-left: 2.12766%;
  width: 20.0%;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-1:first-child {
  margin-left: 0;
}
@media (max-width: 480px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-1 {
    float: left;
    margin-left: 2.12766%;
    width: 31.9149%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-1:first-child {
    margin-left: 0;
  }
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 {
  float: left;
  margin-left: 2.12766%;
  width: 77.87236%;
  padding: 15px 0;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2:first-child {
  margin-left: 0;
}
@media (max-width: 480px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 {
    float: left;
    margin-left: 2.12766%;
    width: 65.95746%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2:first-child {
    margin-left: 0;
  }
}
@media (max-width: 979px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-row {
    margin: 0 0 10px 0;
    width: 100%;
    *zoom: 1;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-row:before, .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-row:after {
    clear: both;
  }
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-name {
  float: left;
  margin-left: 2.12766%;
  width: 40.42554%;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-name:first-child {
  margin-left: 0;
}
@media (max-width: 979px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-name {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-name:first-child {
    margin-left: 0;
  }
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-code {
  float: left;
  margin-left: 2.12766%;
  width: 23.40426%;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-code:first-child {
  margin-left: 0;
}
@media (max-width: 979px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-code {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-code:first-child {
    margin-left: 0;
  }
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-date {
  float: left;
  margin-left: 2.12766%;
  width: 31.9149%;
}
.ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-date:first-child {
  margin-left: 0;
}
@media (max-width: 979px) {
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-date {
    float: left;
    margin-left: 0%;
    width: 100.00002%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-programs-found-wrapper .ya-program-found-block .ya-main-row .ya-column-2 .ya-program-date:first-child {
    margin-left: 0;
  }
}
.ya-school-public-profile .ya-middle-column a {
  font-family: ProximaNova-Semibold;
}
.ya-school-public-profile .ya-middle-column a i {
  font-size: 25px;
  line-height: normal;
  margin: -5px 5px 0 0;
}
.ya-school-public-profile .ya-right-column {
  padding: 21px 0px 0;
}
.ya-school-public-profile .ya-right-column .ya-right-box {
  padding: 0 15px;
}
.ya-school-public-profile .ya-right-column .ya-logo-box-container {
  border-left: 1px solid #b4b3af;
}
.ya-school-public-profile .ya-right-column .ya-logo-box-container .ya-logo-box {
  background: #39468;
  /* Old browsers */
  background: linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -o-linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -moz-linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -webkit-linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -ms-linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, #9b9cbb), color-stop(0.5, #686a9b), color-stop(0.82, #394685));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#394685', endColorstr='#9b9cbb',GradientType=0 );
  /* IE6-9 */
  padding: 5px;
  text-align: center;
  width: 100%;
}
.ya-school-public-profile .ya-right-column .ya-logo-box-container .ya-logo-box img {
  padding: 4px;
  height: 92px;
}
.ya-school-public-profile .ya-right-column .ya-logo-box-container .ya-logo-box img:first-child {
  margin: 0px 20px 0;
}
.ya-school-public-profile .ya-right-column .ya-logo-box-container .ya-logo-box span {
  color: #ffffff;
  font-family: ProximaNova-Semibold;
  margin: 10px 0 0;
  display: block;
}
.ya-school-public-profile .ya-right-column .ya-school-reviews {
  margin: 26px 0;
}
.ya-school-public-profile .ya-right-column .ya-school-reviews p {
  color: #5f6a72;
}
.ya-school-public-profile .ya-right-column .ya-school-reviews .ya-person-reviewed-container .ya-person-reviewed-box {
  margin: 20px 0 0 0;
}
.ya-school-public-profile .ya-right-column .ya-school-reviews .ya-person-reviewed-container .ya-stars .icon {
  font-size: 18px;
}
.ya-school-public-profile .ya-right-column .ya-school-reviews .ya-person-reviewed-container .ya-name {
  margin: 0;
}
.ya-school-public-profile .ya-right-column .ya-teaching-staff .ya-teaching-person-container .ya-person-box {
  width: 100%;
  float: left;
  margin: 0 0 15px;
}
.ya-school-public-profile .ya-right-column .ya-teaching-staff .ya-teaching-person-container .ya-person-box .ya-person-image {
  /*float:left;*/
  float: left;
  margin-left: 2.12766%;
  width: 40.42554%;
  max-width: 105px;
}
.ya-school-public-profile .ya-right-column .ya-teaching-staff .ya-teaching-person-container .ya-person-box .ya-person-image:first-child {
  margin-left: 0;
}
.ya-school-public-profile .ya-right-column .ya-teaching-staff .ya-teaching-person-container .ya-person-box .ya-person-description {
  /*float:left;*/
  padding: 25px 0 0 0px;
  float: left;
  margin-left: 2.12766%;
  width: 57.44682%;
}
.ya-school-public-profile .ya-right-column .ya-teaching-staff .ya-teaching-person-container .ya-person-box .ya-person-description p {
  margin: 0;
  color: #5f6a72;
}
.ya-school-public-profile .ya-right-column .ya-teaching-staff .ya-teaching-person-container .ya-person-box .ya-person-description:first-child {
  margin-left: 0;
}
.ya-school-public-profile .ya-page-title, .ya-school-public-profile .ya-middle-column .ya-column-center p {
  color: white;
}
.ya-school-public-profile .ya-page-title-medium {
  color: #5f6a72;
  font-family: ProximaNova-SemiBold;
  font-weight: normal;
  font-size: 20px;
  border-bottom: 1px solid #b4b3af;
  line-height: normal;
  padding: 0 0 5px;
}
.ya-school-public-profile .ya-orange-btn {
  background: #ff9814;
  font-family: ProximaNova-Regular;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 0;
  border: 0 none;
  -webkit-box-shadow: 0 1px 2px rgba(119, 119, 224, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(119, 119, 224, 0.5);
  box-shadow: 0 1px 2px rgba(119, 119, 224, 0.5);
  margin: 8px 0 10px;
}
.ya-school-public-profile .ya-orange-btn .fs1 {
  float: left;
  padding: 0 10px 0 0;
}
.ya-school-public-profile .ya-bold {
  font-weight: bold;
}
.ya-school-public-profile .ya-italic {
  font-style: italic;
}
.ya-school-public-profile .ya-logo-box-tablet {
  background: #39468;
  /* Old browsers */
  background: linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -o-linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -moz-linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -webkit-linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -ms-linear-gradient(bottom, #9b9cbb 26%, #686a9b 50%, #394685 82%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, #9b9cbb), color-stop(0.5, #686a9b), color-stop(0.82, #394685));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#394685', endColorstr='#9b9cbb',GradientType=0 );
  /* IE6-9 */
  padding: 15px 0  15px 0;
  display: none;
}
.ya-school-public-profile .ya-logo-box-tablet img {
  display: block;
  margin: 0 0 10px 0;
}
.ya-school-public-profile .ya-logo-box-tablet span {
  display: block;
  font-family: ProximaNova-Semibold;
  color: #ffffff;
}

/* end school profile*/
a {
  color: #96171a;
}

a:hover, a:focus {
  color: #96171a;
}

.content-navigation {
  border-color: #3bbfdd;
  color: #23a9c7;
}

.border {
  padding: 8px;
  margin: 8px;
  border-color: #3bbfdd;
}

/*******media queries******/
/* Large desktop */
@media (min-width: 1200px) {
  /*body{background:red;}*/
  .ya-school-public-profile .ya-left-column .ya-white-panel {
    margin: 375px 0 0 -40px;
    width: 291px;
    padding-left: 30px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .ya-school-public-profile .ya-left-column .ya-white-panel {
    margin: 375px 0 0 -40px;
    width: 291px;
    padding-left: 30px;
  }
  .ya-school-public-profile .ya-middle-column {
    width: 65%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center {
    width: 100%;
  }
  .ya-school-public-profile .ya-middle-column .ya-right-column {
    width: 100%;
  }
  .ya-school-public-profile .ya-right-column {
    padding: 0;
  }
  .ya-school-public-profile .ya-right-column .ya-right-box {
    padding: 0 15px 0 0;
  }
  .ya-school-public-profile .ya-right-column .ya-logo-box-container {
    display: none;
  }
  .ya-school-public-profile .ya-right-column .ya-school-reviews {
    margin-top: 0;
  }
  .ya-school-public-profile .ya-logo-box-tablet {
    display: block;
    text-align: center;
  }
  .ya-school-public-profile .ya-logo-box-tablet img {
    display: inline-block;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /*body{background:green;}*/
  .ya-school-public-profile .ya-left-column .ya-white-panel {
    margin: 375px 0 0 -40px;
    width: 291px;
    padding-left: 30px;
  }
  .ya-school-public-profile .ya-middle-column {
    width: 58%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center {
    width: 100%;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-about-container {
    margin: 0 0 30px;
  }
  .ya-school-public-profile .ya-middle-column .ya-right-column {
    width: 100%;
  }
  .ya-school-public-profile .ya-right-column {
    padding: 0;
  }
  .ya-school-public-profile .ya-right-column .ya-right-box {
    padding: 0 15px 0 0;
  }
  .ya-school-public-profile .ya-right-column .ya-logo-box-container {
    display: none;
  }
  .ya-school-public-profile .ya-right-column .ya-school-reviews {
    margin-top: 0;
  }
  .ya-school-public-profile .ya-logo-box-tablet {
    display: block;
    text-align: center;
  }
  .ya-school-public-profile .ya-logo-box-tablet img {
    display: inline-block;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /*body{background:blue;}*/
  .ya-school-public-profile .ya-left-column {
    min-height: 300px;
  }
  .ya-school-public-profile .ya-left-column .ya-white-panel {
    display: none;
  }
  .ya-school-public-profile .ya-middle-column {
    padding: 0;
  }
  .ya-school-public-profile .ya-middle-column .ya-column-center .ya-about-container {
    margin: 0 0 30px;
  }
  .ya-school-public-profile .ya-right-column {
    padding: 0;
  }
  .ya-school-public-profile .ya-right-column .ya-logo-box-container {
    display: none;
  }
  .ya-school-public-profile .ya-logo-box-tablet {
    display: block;
    text-align: center;
  }
  .ya-school-public-profile .ya-logo-box-tablet img {
    display: inline-block;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /*body{background:teal;}*/
}
#ie7 .ya-upcoming-programs .ya-left-column .ya-logo-watermark .ya-school-logo {
  width: 200px;
  margin-left: 50px;
}
#ie7 .ya-upcoming-programs .ya-left-column .ya-social-icons .fs1 {
  margin: 0 5px 0 0;
}
#ie7 .ya-upcoming-programs select {
  *min-height: 20px !important;
  *height: 20px !important;
}

input.span9 {
  *width: 60% !important;
  *min-height: 20px !important;
  *height: 20px !important;
}

.btn {
  *margin-left: 10px;
}
